page-my-recommend {

    .recButton{
        color:darkcyan;
        float:right;
        position: static;
        display: block;
    }

    .button-ios {
        border-radius: 12px;
        color:  #cf155c;
        background-color: #fff;
        border: 1px solid  #cf155c;
      }
}
