<!--
  Generated template for the MyRecommendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>推荐记录</ion-title>
    <!-- <ion-buttons end>
      <button ion-button color = "Primary" (click)="click()">test</button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content no-padding no-margin>
<ion-list style="margin:-1px 0px 0px 0px">
  <ion-list-header >
    <h3><span style="color:orange">{{items.length}}人</span>已成功办理业务</h3>
    
  </ion-list-header>
  <ion-item *ngFor="let item of items" (click)="itemClick(item)">
    <h3>{{item.name}}</h3>
    <h3>我的客户经理：{{item.manager}}</h3>
    <h3>办理业务时间：{{item.timestamp}}</h3>
  </ion-item>
</ion-list>
<div style="height:20px;background:rgb(237, 237, 237);width:100%;"></div>
<ion-list>
    <ion-list-header>
      <h3><span style="color:darkcyan">{{notItems.length}}人</span>还未办理业务</h3>
      
    </ion-list-header>
    <ion-item *ngFor="let item of notItems" >
      <h3>{{item.name}}</h3>
      
      <div class="recButton">
          <button ion-button >再次推荐</button>
      </div>
      <h3>我的客户经理：{{item.manager}}</h3>
      <h3>办理业务时间：{{item.timestamp}}</h3>
    </ion-item>
  </ion-list>

</ion-content>
