jl-product-condition-items {
    ion-item{
        h5{
            padding-left: 10px;
            margin-right: 10px;
            white-space:normal;
        }
        p{
            padding-left: 10px;
            margin-right: 10px;
            white-space: normal;
        }
    }
}
