<!--
  Generated template for the PoConditionChooseProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>选择商品</ion-title>
    <ion-buttons end>
       <button ion-button clear (click)="QRScanBtnClicked()">
         <ion-icon name="qr-scanner"></ion-icon>
       </button>
       <button ion-button clear (click)="allSelectedBtnCliked()" >{{selectTitle}}</button>
    </ion-buttons>
  </ion-navbar>
  <div style="width:100%;overflow:auto" class="msearchbar" >
      <ion-searchbar
      cancelButtonText="取消"
      placeholder="请输入商品编号或商品名称" 
      col-10
      float-left
      (keydown)="keydown($event)"
      [(ngModel)]="searchContent" 
      >
    </ion-searchbar>
    <button no-padding no-margin ion-button clear col-2 float-right (click)="rightBtnClicked()">筛选</button>
  </div>
</ion-header>


<ion-content class="ion-content-background-partingline" no-padding>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-padding>
  <ion-product-choose-item no-lines *ngFor="let item of dataArray " [item]=item (changeTotal)="changeTotal($event)">

  </ion-product-choose-item>
  <ion-allitem-showed-bottom *ngIf="dataArray.length>=total&&dataArray.length>0" ></ion-allitem-showed-bottom>
  <ion-custom-empty *ngIf="total==0" ></ion-custom-empty>
</ion-list>
<ion-infinite-scroll *ngIf="dataArray.length<total"  (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer>
  <div style="width:100%;overflow:auto;">
    <p padding-left col-9 float-left>合计:<font color="red"><jl-blance-spliter  leftClass="leftclasscss" rightClass="rightClasscss" [totalAmt]="totalAtm"></jl-blance-spliter> </font></p>
    <div class="div_back" float-left col-3>
      <button  (click)="comfirm()" style="width:100%" ion-button clear>
          确定
      </button>
    </div>
   
  </div>
</ion-footer>