page-plant-detail {
    //设置背景颜色
ion-content{
    .fixed-content{
        background: rgba($color: #000000, $alpha: 0) !important;
    }
    .scroll-content{
        background: rgba($color: #000000, $alpha: 0) !important;
    }
    background: #f5f4f4 !important;
}

.contact{
    .item-inner{
        padding-right: 0px !important;
    }
    .row {
        h3{
          font-size: inherit;
          height: 20px;
          margin: 11px 0px 11px 0px;
        }
        p{
            font-size: inherit;
            height: 17px;
            margin: 11px 8px 11px 16px;
        }
    }
}   
    .checkMark{
        overflow: auto;
        background: white;
        .col{
            width: 20%;
        }
        h2{
            margin: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 15px;
        }
        div{
            padding-left: 0px;
            padding-right: 0px;
        }
        .ty-line1{
            margin-left: 10px;
        }
        ion-checkbox{
           margin: 0px !important;
           padding-top: 12px;
           padding-right: 2px;
           padding-left: 2px;
        }
        p{
            font-size: 1.3rem;
            margin-top: 12px;
            padding-right: 5px;
        }
        ty-line1{
            margin-left: 10px;
        }
    }

    .item-block{
        min-height: 4rem !important;
    }
    .item-ios{
        font-size: 1.4rem !important;
    }
    .checkbox-md.checkbox-disabled, .item-md.item-checkbox-disabled ion-label{
        opacity: 1 !important;
    }
}
