page-regist {

    .background
    {
        width: 100%;
        height: 100% !important;
        background-color:color($colors,light);;
        background-position:top;
        background-image: url(../assets/imgs/regist_background.png);
        background-repeat: no-repeat;
        background-size:100% 260px; 
        z-index: 1;

    }
    ion-input
    {
      font-size: 14px;    
    }

    .nevbar
    {
        width: 100%;
        background-color:transparent;
        text-align: center;
        vertical-align: middle;
    }

    .toolbar-title-ios
    {
        color: white;
        
    }
    .button-inner
    {
        font-size: 14px;
        color: white;
    }
   
    .nevbarright
    {
        font-size: 12px;
        color: white;
        vertical-align: middle;
      
    }
    .itemtop
    {
        border-top-left-radius: 4px;
        border-top-right-radius:4px;
        border: 0px;
        .button-inner
        {
            color: black !important;
            background-color: transparent !important;
        }
        .button-ios{
            background-color: transparent !important;
        }
        .item-icon
        {
            
            background: url(../assets/imgs/regist_username.png) no-repeat center !important;
            background-size:70% 70% !important; 
        }
    }
    .itemcenter
    {

        .item-icon
        {
            
            background: url(../assets/imgs/regist_code.png) no-repeat center !important;
            background-size:70% 70% !important; 
        }
    }

    .itembottom
    {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 0px;
        .item-icon
        {
            
            background: url(../assets/imgs/regist_password.png) no-repeat center !important;
            background-size:70% 70% !important;
        }
    }

    .input{
        width: 80%;
    }
    .line
    {
        width: 1px;
        height: 80%;
        background: color($colors,ty-partingline);
    }
    .logoHeader{
        margin-top: 90px;
        margin-bottom: 60px;
        img {
         width: 80px;
         height: 80px;
       }
    }
    .iputcenter{
        width: 90%;
        border-radius: 5px;
        border:0.5px solid color($colors,light);
        margin:0 auto;
    }
    .passwordopreation{
        width: 90%;
        margin:0 auto;
        
        ion-checkbox{
            margin: 0 auto;
            background: transparent;
            vertical-align: middle;
        }
        p{
            font-size: 12px;
            margin-left: 5px;
            color: black;
            vertical-align: middle;
        }
        .p1{
            color: color($colors,ty-blue) !important;
            margin-left: 5px;
            font-size: 12px;
            vertical-align: middle;
        }
    }
    .btn
    {
        background-color: red;
        color: white;
        text-align: center;
        width: 95%;
        padding: 15px;
        border-radius: 5px;
        margin:0 auto;
        display: block;
        margin-top: 20px
    }

    .btn:active{
        background-color: #f55a5a;
        color: white
    }

    .btn_disabled {
        opacity: 0.6;
        cursor: not-allowed;
        background-color: red;
        color: white;
        text-align: center;
        width: 95%;
        padding: 15px;
        border-radius: 5px;
        margin:0 auto;
        display: block;
        margin-top: 20px
    }

    .valcodebtn
    {
        border-left: 1px solid rgb(196, 194, 194);
        border-radius: 0px;
        width: 35%;
        padding: 10px;
    }
}
