page-modify-pwd {

    //设置背景颜色
    ion-content{
        .fixed-content{
            background: rgba($color: #000000, $alpha: 0) !important;
        }
        .scroll-content{
            background: rgba($color: #000000, $alpha: 0) !important;
        }
        background: #f5f4f4 !important;
    }
    .item-block{
        min-height: 5rem !important;
    }
    .input{
        font-size: 1.3rem !important;
    }
    .tip{
        margin-top: 15px;
        margin-left: 15px;
        color: gray;
    }
    
}
