page-plants-map {
    .amap-logo {
        display: none !important;
    }
    .amap-copyright {
        opacity: 0;
    }
    .amap-toolbar{
        bottom: 30% !important;
    }
    .item-block{
        min-height: 3rem !important;
    }
    .grid{
        padding: 0 !important
    }
    .col{
        padding: 0 !important;
    }
    
    a[disabled], button[disabled], html input[disabled]{
        color: rgb(66, 66, 66) !important;
    }

    .item.item-ios .checkbox-ios{
        font-size: 1.3rem !important;
        margin: 8px 2px 8px 2px !important;
    }
}
