<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item class="contentUp" no-lines>
        <ion-avatar item-start>
            <img [src]="assets/imgs/author_logo2">
        </ion-avatar>
        <div float-left>
          <h3>一朵梨花压海棠</h3>
          <p>The terms synchronous and asynchronous are often confused with the terms sequential and concurrent.We made this change because we think its so cooool!~</p>
        </div>
      </ion-item> 

      <ion-row *ngIf="dataArray.length == 1" >
          <ion-col col-8 *ngFor="let item of dataArray;let idx=index">
            <pic-item [item]="item" (click)="itemClick(idx)" state="{{state}}"></pic-item>
          </ion-col>
      </ion-row>

      <ion-row *ngIf="dataArray.length == 2" >
          <ion-col col-6 *ngFor="let item of dataArray;let idx=index">
            <pic-item [item]="item" (click)="itemClick(idx)" state="{{state}}"></pic-item>
          </ion-col>
      </ion-row>

      <ion-row *ngIf="dataArray.length > 2" >
          <ion-col col-4 *ngFor="let item of dataArray;let idx=index">
            <pic-item [item]="item" (click)="itemClick(idx)" state="{{state}}"></pic-item>
          </ion-col>
      </ion-row>
</ion-content>
