<!-- Generated template for the CirclesFabulousAndcommentComponent component -->
<div class="content">
  <div class="fabulous">

    <p *ngIf="item.circleFriendsFabulousList!=null&&item.circleFriendsFabulousList.length>0" >
      <ion-icon name="ios-heart-outline"></ion-icon>
      <span *ngFor="let fabulou of item.circleFriendsFabulousList;let idx=index">
        {{item.circleFriendsFabulousList.length>0&&idx==item.circleFriendsFabulousList.length-1?fabulou.userId:fabulou.userId+","}}
      </span>
    </p>
  </div>
  <div class="blackseparate"></div>
  <div *ngIf="item.circleFriendsMsgList!=null&&item.circleFriendsMsgList.length>0"  class="comment">
    <div *ngFor="let comment of item.circleFriendsMsgList">
      <p  *ngIf="comment.answerUserId==null||comment.answerUserId.length==0" (click)="mreplyBtnClicked(comment)">
        <span>{{comment.userName}}</span>:{{comment.content}}</p>
      <p *ngIf="comment.answerUserId!=null&&comment.answerUserId.length>0"  (click)="mreplyBtnClicked(comment)">
        <span>{{comment.userName}}</span>回复<span>{{comment.answerUserName}}</span>:{{comment.content}}</p>
    </div>

  </div>
</div>