<!-- Generated template for the CirclesFabulousAndcommentComponent component -->
<div class="content">
  <div class="fabulous">

    <p>
      <ion-icon name="ios-heart-outline"></ion-icon>
      <span *ngFor="let fabulou of item.fabulous;let idx=index">
        {{item.fabulous.length>0&&idx==item.fabulous.length-1?fabulou.userName:fabulou.userName+","}}
      </span>
    </p>
  </div>
  <div class="blackseparate"></div>
  <div class="comment">
    <div *ngFor="let comment of item.comments">
      <p  *ngIf="comment.touser==null" (click)="mreplyBtnClicked(comment.fromuser)">
        <span>{{comment.fromuser.userName}}</span>:{{comment.content}}</p>
      <p *ngIf="comment.touser!=null"  (click)="mreplyBtnClicked(comment.fromuser)">
        <span>{{comment.fromuser.userName}}</span>回复<span>{{comment.touser.userName}}</span>:{{comment.content}}</p>
    </div>

  </div>
</div>