<!--
  Generated template for the InventoryOperationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>盘点</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-item no-lines>
    <h2 class="text" item-start>仓库号</h2>
    <p class="detall">PD-0001Nx1101</p>
  </ion-item>
  <ion-item no-lines>
    <h2 class="text" item-start>盘点人</h2>
    <p class="detall">张三</p>
  </ion-item>
  <ion-item no-lines>
    <h2 class="text" item-start>盘点性质</h2>
    <ion-select class="detall" [(ngModel)]="type" interface="popover" placeholder="请选择" (ionChange)="selectChange()">
      <ion-option *ngFor="let o of petData" [value]="o.value">{{o.text}}</ion-option>
    </ion-select>
  </ion-item>
  <div class="ty-line1"></div>
  <ion-item class="remark" no-lines>
    <ion-label>
      盘点说明
    </ion-label>
    <ion-textarea type="text" placeholder="可输入盘点说明信息，最多输入100字" #reMarkLen1 [(ngModel)]="reMark" maxlength="100"></ion-textarea>
  </ion-item>
  <div class="remarkcount" style="width:100%;overflow:auto;">
    <p padding-right float-right>{{reMarkLen1.value.toString().length}}/100</p>
  </div>

  <ion-list style="margin-top:15px;margin-bottom:58px">
    <ion-item *ngFor="let item of dataArray"> 
        <h2>商品名称</h2>
        <p>商品类别：</p>
        <p>单位：</p>
        <p>仓库：1号仓</p>
        <p>及时库存：</p>
    </ion-item>
  </ion-list>
  
</ion-content>
<ion-footer>
    <div text-center style="width:100%;overflow:auto;position:absolute;bottom:0px">
        <div style="background: white; width:100%" class="horizontal horizontal_center"> 
            <p><font color="red">确定</font></p>
          </div>
      </div>
</ion-footer>