page-my-qrcode {

    .bgDiv{
        background: rgb(237, 237, 237);
        // height: 1000px;
        padding: 10px;
    }

   .scroll-content {
      margin: 0;
      background: rgb(237, 237, 237);
    }
}
