circles-header {
    .itembottom{
       position: absolute; 
       width: 100%;
       overflow: auto;
       bottom: 0;
       img{
            width: 100px;
            height: 100px;
            display: block;
            border:1px solid gainsboro;
            float: right;
            margin-right: 10px;
            border-radius: 50%;
       }
       p{
           color: white;
           padding-top: 20px;
           font-size: 20px;
           float: right;
           margin-right: 10px;
       }
    }
}
