page-home {
    ion-slides {
        height: auto !important;
    }
    .swiper-pagination-bullet-active {
        background: lightgray ;
    }
 
    .toolbar-background {
        background: color($colors,primary);
        opacity: 0;
    }
}
