<!-- Generated template for the BusinessItemEcharComponent component -->
<div  style="width:100%;position:absolute" text-center>
    <p no-padiing no-margin class="char_title">{{itemValue.title}}</p>
  </div>
  <div  style="width:100%;position:absolute;margin-top:14px;"  text-center>
    <p class="char_detail">{{itemValue.detail}}</p>
  </div>
<div #container class="div-charts"></div>
<div class="bottom" style="position:relative;margin-bottom:10px;" text-center>
  <p no-padding no-margin style="position:absolute;left:16px;top:0px;">10/17</p>
  <p>10/26</p>
  <p no-padding no-margin style="position:absolute;right:16px;top:0px;">11/04</p>
</div>
