<!-- Generated template for the CirclesItemComponent component -->
<div style="position:relative">
  <div class="headimgSection">
     <img src="assets/imgs/logo.png">
  </div>
  <div class="contentSection">
      <p class="name">
        老薛
      </p>
      <p class="detaildes">
          最近一段时间，即将发布的三星S9系列无疑成为业界关注的焦点。对于三星S9系列手机来说，亮点之一就是搭载了骁龙845处理器。不过，在2018年上半年，并不是只有这一款搭高通载骁龙845芯片的手机要推出，当然也包括传闻当中的小米7。
      </p>
      <circles-photos [imgs]="item">

      </circles-photos>
      <p class="location" >
        湖北省武汉市
      </p>
      <circles-opration ></circles-opration>
      <circles-fabulous-andcomment></circles-fabulous-andcomment>
  </div>
  <div  class="ty-line1"></div>
</div>
