<!-- Generated template for the CirclesItemComponent component -->
<div style="position:relative">
  <div class="headimgSection">
     <img src="assets/imgs/logo.png">
  </div>
  <div class="contentSection">
      <p class="name">
        {{item.user.userName}}
      </p>
      <p class="detaildes">
        {{item.descriptContent}}
      </p>
      <circles-photos [item]="item">

      </circles-photos>
      <p class="location" >
        {{item.locationdes}}
      </p>
      <circles-opration [item]="item"></circles-opration>
      <circles-fabulous-andcomment [item]="item"></circles-fabulous-andcomment>
  </div>
  <div  class="ty-line1"></div>
</div>
