ion-tyfunction-grid {

    .line{
        background: color($colors,ty-partingline);
        height: 1px;
        width: 100%;
    }
    ion-col{
        margin: 0px !important;
        padding: 0px !important;
        img{
            padding-top:20px; 
            width: 60%;
        }
        p{
            padding-top: 8px;
            padding-bottom: 20px;
            margin: 0px;
        }

    }
}
