page-operations-statement {
    .msearchbar {
        .searchbar-ios{
            background:rgba(0, 0, 0, 0);
        }
        background: rgba(0, 0, 0, .1);
    }
    .item-content{
        overflow: auto;
    }
    ion-item{
        .item-inner{
            padding-right: 0px !important;
        }
        ion-label{
            margin-right: 0px !important;
        }
    }
    .vline{
        width: 0.35%;
        background: lightgray;
        height: 40px;

    }
}
