page-sales-order-change {
    ion-item{
        h5{
            padding-left: 10px;
            margin-right: 10px;
            white-space:normal;
        }
        p{
            padding-left: 10px;
            margin-right: 10px;
            white-space: normal;
        }
    }
    .text
    {
        color:black;
    }
    .detall{
        margin-top: 4px !important;
        color:black;
    }

    .cancel{
        background: white; 
    }
    .comfirm{
         background: color($colors,primary);
    }
    .remarkclass{
        margin-top: 15px;
        ion-textarea{
            height: 100px;
            textarea{
                height: 90px;
            }
        }
    }
    .remarkcount{
        background: white;
        p{
            color: lightgray;
        }
        margin-bottom: 60px;
    }
}
