page-purchase {
    .head{
        text-align: center;
        .btn-left{
            width: 90%;
            height: 80px;
            background: #F5CA41;
        }
        .btn-right{
            width: 90%;
            height: 80px;
            background: #FA7451;
        }
    }
}
