<!-- Generated template for the CirclesOprationComponent component -->
<div class="content">
 <p class="time"> {{item.createTime}}</p>

  <button  no-padding class="comment" clear ion-button icon-only (click)="opereationBtnCliked()">
    <ion-icon name="md-text"></ion-icon>
  </button>
  <div *ngIf="oprationHidden==false"  class="opreation">
    <button ion-button icon-left clear (click)="fabulous()">
      <ion-icon name="ios-heart-outline"></ion-icon>
      {{item.isFabuloused==true?"取消":"赞"}}
    </button>
    <button ion-button icon-left clear (click)="commentBtnClicked()">
        <ion-icon name="ios-text-outline"></ion-icon>
        评论
      </button>
  </div>
</div>
