<!--
  Generated template for the AddSalesOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>新增销售订单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-item (click)="providerClicked()">
    <h2 class="text">客户</h2>
    <p class="detall" item-end>{{condition.customerItem.customerName}}</p>
    <ion-icon class="ty-arrow-gray" name="ios-arrow-forward" item-end></ion-icon>
  </ion-item>
  <ion-item (click)="storageClicked()">
    <h2 class="text">仓库</h2>
    <p class="detall" item-end>{{condition.whse.whseName}}</p>
    <ion-icon class="ty-arrow-gray" name="ios-arrow-forward" item-end></ion-icon>
  </ion-item>
  <ion-item>
    <div style="width:100%;overflow:auto;" item-content>
      <h2 padding-top class="text" float-left >时间</h2>
      <ion-datetime no-margin style="padding-top:8px" float-right displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" [(ngModel)]="condition.createDate"  item-end></ion-datetime>
    </div>
    <ion-icon class="ty-arrow-gray" name="ios-arrow-forward" item-end></ion-icon>
  </ion-item>
  <ion-item (click)="chooseProduct()" *ngIf="condition.orderProdList.length<=0">
    <h2 class="text">选择商品</h2>
    <ion-icon class="ty-arrow-gray" name="ios-arrow-forward" item-end></ion-icon>
  </ion-item>
  <jl-orders-item *ngIf="condition.orderProdList.length>0" (emptyProduct)="emptyProduct()" [totalAtm]="condition.totalAtm" [orderProdlist]="condition.orderProdList">
  </jl-orders-item>
  <ion-item class="remark" no-lines>
    <ion-label>
      备注
    </ion-label>
    <ion-textarea type="text" placeholder="可输入备注信息" #reMarkLen1 [(ngModel)]="condition.remark" maxlength="200"></ion-textarea>
  </ion-item>
  <div class="remarkcount" style="width:100%;overflow:auto;">
    <p padding-right float-right>{{reMarkLen1.value.toString().length}}/200</p>
  </div>
  <div text-center style="width:100%;overflow:auto;position:absolute;bottom:0px">
    <div class="cancel" float-left col-6 (click)="reset()">
      <p>重置</p>
    </div>
    <div class="comfirm" float-left col-6 (click)="comfirm()">
      <p style="color:white;">确定</p>
    </div>

  </div>
</ion-content>