<!--
  Generated template for the SalesOrderFollowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="ty-nav-bar">
    <ion-title>销售订单跟踪表</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="choosebtnClicked()">筛选</button>
    </ion-buttons>
  </ion-navbar>
  <div class="ty-line1"></div>
  <div style="width:100%;overflow:auto" class="msearchbar">
    <jl-date-picker [datepicker]="datepicker" [(startDate)]="datepicker.start" [(endDate)]="datepicker.end" (startDateChange)="startDateSelected($event)" (endDateChange)="endDateSelected($event)"></jl-date-picker>
  </div>
  
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of dataArray" no-padding no-margin>
      <h5>{{item.buyerMerchantName}}</h5>
      <p>{{item.productName}}</p>
      <p>销售订单号：{{item.orderNo}}</p>
      <p>销售数量：{{item.productNum}}</p>
      <p>出库数量：{{item.stockNum}}</p>
      <p>销售金额：{{[item.totalAmt,2]|parseAmount}}</p>
    </ion-item>
    <ion-allitem-showed-bottom *ngIf="dataArray.length>=total&&dataArray.length>0"></ion-allitem-showed-bottom>
    <ion-custom-empty *ngIf="total==0"></ion-custom-empty>
  </ion-list>
  <ion-infinite-scroll *ngIf="dataArray.length<total" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>