page-forget-password {
    //设置背景颜色
    ion-content{
        .fixed-content{
            background: rgba($color: #000000, $alpha: 0) !important;
        }
        .scroll-content{
            background: rgba($color: #000000, $alpha: 0) !important;
        }
        background: #f5f4f4 !important;
    }
    .item-button{
        height: 26px !important;
    }
    .counting{
        color: rgb(165, 165, 165);
        border-color: rgb(167, 167, 167);
    }
    .input{
        font-size: 1.3rem !important;
    }
    .ready{
        color: color($colors,primary);
        border-color: color($colors,primary);
    }
    .item-block{
        min-height: 5rem !important;
    }  
    
    .itemtop
    {
        border: 0px;
        .button-inner
        {
            color: color($colors,primary) !important;
            background-color: transparent !important;
        }
        .button-ios{
            background-color: transparent !important;
            padding: 0 0 0 1rem !important;
        }
    }

    .ready{
        border-left: 1px solid rgb(212, 212, 212);
        border-radius: 0px;
        width: 30%;
        .button-inner{
            color: color($colors,primary) !important;
        }
    }
    .counting{
        border-left: 1px solid rgb(212, 212, 212);
        border-radius: 0px;
        width: 30%;
        .button-inner{
            color: gray !important;
        }
    }
}
