page-forget-password {
    //设置背景颜色
    ion-content{
        .fixed-content{
            background: rgba($color: #000000, $alpha: 0) !important;
        }
        .scroll-content{
            background: rgba($color: #000000, $alpha: 0) !important;
        }
        background: color($colors,ty-partingline) !important;
    }
    .item-button{
        height: 26px !important;
    }
    .counting{
        color: color($colors,ty-gray);
        border-color: color($colors,ty-gray);
    }
    .ready{
        color: color($colors,primary);
        border-color: color($colors,primary);
    }
    .item-block{
        min-height: 6rem !important;
    }   
}
