page-change-provider-info {
    .remark{
        margin-top: 15px;
        ion-textarea{
            height: 100px;
            textarea{
                height: 90px;
            }
        }
    }
    .remarkcount{
        background: white;
        p{
            color: lightgray;
        }
    }
    .contact{
        .item-inner{
            padding-right: 0px !important;
        }
        .row {
            h3{
              font-size: inherit;
              height: 24px;
              margin: 11px 0px 11px 0px;
            }
            p{
                font-size: inherit;
                height: 20px;
                margin: 11px 8px 11px 16px;
            }
            ion-checkbox{
                margin-right: 5px !important;
            }
            .morenp{
                margin-left: 0px !important;
                font-size: 12px !important;
            }
        }
    }
}
