<!--
  Generated template for the InventoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar>
    <ion-title>盘点</ion-title>
  </ion-navbar>
  <div style="width:100%;overflow:auto" class="msearchbar">
    <ion-searchbar cancelButtonText="取消" placeholder="请输入商品编号、名称或仓库号" col-10 float-left (keydown)="keydown($event)">
    </ion-searchbar>
    <button no-padding no-margin ion-button clear col-2 float-right (click)="rightBtnClicked()">筛选</button>
  </div>
</ion-header>


<ion-content no-padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"></ion-refresher-content>
      </ion-refresher>
  <ion-list no-padding>
    <!-- <ion-item *ngFor="let item of dataArray " no-padding no-margin>
      <img col-2 src="assets/imgs/1.jpg" alt="" float-left>
      <div col-10 float-left>
        <h3>商品名称</h3>
        <p>商品编号:000000N</p>
        <p>仓库号:1号仓</p>
        <p>及时库存：
          <font color="red">10</font>
        </p>
      </div>
    </ion-item> -->
    
    <ion-ty-inventory *ngFor="let item of dataArray "  [data]="item"></ion-ty-inventory>
    <ion-allitem-showed-bottom *ngIf="dataArray.length>=total&&dataArray.length>0"></ion-allitem-showed-bottom>
    <ion-custom-empty *ngIf="total==0"></ion-custom-empty>
  </ion-list>
  <ion-infinite-scroll *ngIf="dataArray.length<total" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<ion-footer>
    <div text-center style="width:100%;position:absolute;bottom:0px" (click)="operationClick()">
        <div class="ty-line1"></div>
      <div style="background: white; width:100%" class="horizontal horizontal_center"> 
        <p><font color="red">我要盘点</font></p>
      </div>
    </div>
</ion-footer>