plant-item {
    .mimg{
        width: 100%;
        display: block;
        div{
            width: 100%; 
        }
      img{
        width: 100%;
        min-height: 200px;
        max-height: 200px;
        display: block;
      }
    }
 .bottom{
     position: absolute;
     bottom: 0px;
     width: 100%;
     color: white;
     background: rgba(0, 0, 0, 0.5);
     .bleft{
        float: left;
        padding-left: 8px !important;
     }
     ion-icon{
         color: white;
         float: right;;
         font-size: 20px;
         margin-right: 5px;
         margin-top: 12px;
        
     }
     .bright{
        float: right;
        padding-right: 10px;
     }
 }

}
